<p id="notice"><%= notice %></p>

<h1>Workflow Runs</h1>

<table>
  <thead>
    <tr>
      <th>Minutes</th>
      <th>Workflow Name</th>
      <th>Sender</th>
      <th>Repo</th>
      <th>Repo Owner</th>
      <th>Org</th>
      <th>Workflow ID</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @workflow_runs.each do |workflow_run| %>
      <tr>
        <td><%= workflow_run.minutes %></td>
        <td><%= workflow_run.workflow_name %></td>
        <td><%= workflow_run.workflow_sender %></td>
        <td><%= workflow_run.repo %></td>
        <td><%= workflow_run.repo_owner %></td>
        <td><%= workflow_run.org %></td>
        <td><%= workflow_run.workflow_id %></td>
        <td><%= link_to 'Show', workflow_run %></td>
        <td><%= link_to 'Destroy', workflow_run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

