<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @workflow_job.status %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @workflow_job.runner_id %>
</p>

<p>
  <strong>Labels:</strong>
  <%= @workflow_job.labels %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @workflow_job.minutes %>
</p>

<p>
  <strong>Workflow name:</strong>
  <%= @workflow_job.workflow_name %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @workflow_job.repo %>
</p>

<p>
  <strong>Org:</strong>
  <%= @workflow_job.org %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @workflow_job.sender %>
</p>

<%= link_to 'Edit', edit_workflow_job_path(@workflow_job) %> |
<%= link_to 'Back', workflow_jobs_path %>
