<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @workflow_run.status %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @workflow_run.runner_id %>
</p>

<p>
  <strong>Labels:</strong>
  <%= @workflow_run.labels %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @workflow_run.minutes %>
</p>

<p>
  <strong>Workflow name:</strong>
  <%= @workflow_run.workflow_name %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @workflow_run.repo %>
</p>

<p>
  <strong>Org:</strong>
  <%= @workflow_run.org %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @workflow_run.sender %>
</p>

<%= link_to 'Edit', edit_workflow_run_path(@workflow_run) %> |
<%= link_to 'Back', workflow_runs_path %>
